<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="../public/css/wishlist.css">
</head>
<body>
    <nav class="navbar navbar-fixed flex flex-wrap flex-between  navbar-bg nav-zindex ">
        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap flex-align-item-center gap">
                <li class="pb-1 nav-text navbar-white-text flex flex-align-item-center gap-1 hide">
                    <span class="material-icons snackbar-icons  navbar-icons">menu</span>
                </li>
                <a href="../views/home.html" class="text-deocration-none list-style-none">
                    <li class="pb-1  nav-text navbar-white-text flex flex-align-item-center gap-1">
                        <span class="font-bold label-text label-text-primary">Zeplin</span>
                    </li>
                </a>
            </ul>
        </div>

        <div class="flex flex-space-evenly flex-align-item-center ">
            <ul class=" text-deocration-none flex flex-wrap gap-col-2">

                <a href="../views/home.html" class="text-deocration-none">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons label-text label-text-primary">home</span>
                        <span class="label-text label-text-primary">Home</span>
                    </li>
                </a>

                <a href="../views/restaurants.html" class="text-deocration-none">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1 ">
                        <span class="material-icons label-text label-text-primary">dinner_dining</span>
                        <span class="label-text label-text-primary">Restaurants</span>
                    </li>
                </a>
                <a href="../views/cart.html" class="text-deocration-none">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons label-text label-text-primary">person</span>
                        <span class="label-text label-text-primary">cart</span>
                    </li>
                </a>
                <a href="../views/wishlist.html" class="text-deocration-none">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons label-text label-text-primary">queue</span>
                        <span class="label-text label-text-primary">wishlisht</span>
                    </li>
                </a>
                <a href="../views/login.html" class="text-deocration-none">
                    <li class="pb-1 nav-text  navbar-white-text flex flex-align-item-center gap-1">
                        <span class="material-icons label-text label-text-primary">logout</span>
                        <span class="label-text label-text-primary">Logout</span>
                    </li>
                </a>
            </ul>
        </div>

    </nav>  

    <main class="mb-3">
        <section class="flex flex-wrap flex-row flex-align-item-center flex-justify-center wishlist-container pt-2">
            <p class="font-bold">Wishlist (3 dishes)</p>

        </section>
      <section class="flex flex-wrap flex-row flex-align-item-center flex-justify-center wishlist-container">
        <div class="ui-card-list card-py ui-card-width-900 card-mt-1 gap shadow-md">
            <div class="ui-card-list-img">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/gfq5cpqjkllobns88bg8"
                    alt="Schezwan fried rice" loading="lazy">
            </div>
            <div class="ui-card-list-content card-pl  ">
                <span class="font-bold ">Chicken Personal Wok Bowl</span>
                <div>
                    <span>&#x20b9;</span>
                    <span class="font-md-light">254</span>
                </div>
                <span class="font-md-light">Light eater - choice of any 1 rice/noodles, 1 sauce, 4
                    vegetables and 2 seasoning.</span>
            </div>
            <div class="ui-card-list-button">
                <button
                    class="btn-outline-primary btn btn-py-1 flex flex-between ui-card-small-override-prop flex-justify-center">
                    <span class="icon-default-pl">Remove</span>
                    <span class="material-icons icon-sm">remove</span>
                </button>
            </div>
        </div>
        <div class="ui-card-list card-py ui-card-width-900 card-mt-1 gap shadow-md">
            <div class="ui-card-list-img">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/gfq5cpqjkllobns88bg8"
                    alt="Schezwan fried rice" loading="lazy">
            </div>
            <div class="ui-card-list-content card-pl  ">
                <span class="font-bold ">Chicken Personal Wok Bowl</span>
                <div>
                    <span>&#x20b9;</span>
                    <span class="font-md-light">254</span>
                </div>
                <span class="font-md-light">Light eater - choice of any 1 rice/noodles, 1 sauce, 4
                    vegetables and 2 seasoning.</span>
            </div>
            <div class="ui-card-list-button">
                <button
                    class="btn-outline-primary btn btn-py-1 flex flex-between ui-card-small-override-prop flex-justify-center">
                    <span class="icon-default-pl">Remove</span>
                    <span class="material-icons icon-sm">remove</span>
                </button>
            </div>
        </div>
        <div class="ui-card-list card-py ui-card-width-900 card-mt-1 gap shadow-md">
            <div class="ui-card-list-img">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/gfq5cpqjkllobns88bg8"
                    alt="Schezwan fried rice" loading="lazy">
            </div>
            <div class="ui-card-list-content card-pl  ">
                <span class="font-bold ">Chicken Personal Wok Bowl</span>
                <div>
                    <span>&#x20b9;</span>
                    <span class="font-md-light">254</span>
                </div>
                <span class="font-md-light">Light eater - choice of any 1 rice/noodles, 1 sauce, 4
                    vegetables and 2 seasoning.</span>
            </div>
            <div class="ui-card-list-button">
                <button
                    class="btn-outline-primary btn btn-py-1 flex flex-between ui-card-small-override-prop flex-justify-center">
                    <span class="icon-default-pl">Remove</span>
                    <span class="material-icons icon-sm">remove</span>
                </button>
            </div>
        </div>

      </section>
    </main>

    <script src="../public/js/restaurants.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>
</html>