@import url('https://framer-ui.netlify.app/components/framer.css');


:root{
    --text-white:rgb(252, 252, 252);
}
.login-container{
    display: flex;
    flex-wrap:wrap;
    height: 100vh;
}

.banner{
    flex: 1;
    background: url(../img/background/ts.webp) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.login-form{
    height: 100vh;
    flex: 1;
    margin: auto;
    
}

.card-my-1{
    margin: 1rem;
}

.wlcom-msg{
    color: var(--col-primary);
}

@media only screen and (min-width:330px) and (max-width:560px){
   .banner{
       display: none;
   }

    .login-form{
        background: url(/public/img/background/login-banner.png) no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
    }

    .wlcom-msg{
        color: var(--text-white);
        font-size: 2.1em;
    }
   
}   